.App {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center
}

.title-container {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 30px;
  padding: 3vh;
}

.header-title {
  font-family: Inter-ExtraBold;
  font-size: 4em;
  color: #FFFFFF;
  margin: 0 0;
  animation: neonAnim 2s alternate-reverse infinite;
}

@keyframes neonAnim {
    from {
        text-shadow:
          0 0 10px #F384DB,
          0 0 40px #F384DB,
          0 0 100px #F384DB;
      }
      to {
        text-shadow:
          0 0 5px #F384DB,
          0 0 20px #F384DB,
          0 0 60px #F384DB;
      }
}

.main-content {
  flex-direction: row;
  display: flex;
  width: 85vw;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh
}

.list-container {
  flex-direction: column;
  display: flex;
  align-items: center
}

.section-title {
  font-family: Inter-SemiBold
}
